h1{
  font-family: serif;
  color: #598311;
  padding-top: 40px;
  font-size: 50px;
  font-weight: bold;
}
input.form-control {
  margin: 20px 0;
}

button.btn {
  margin: 10px 0 20px 0;
}

textarea{
  height: 150px !important;
}

.search-job-result{
  width: 100%;
  padding: 10px 10px;
  margin: 0 0 10px 0;
  background-color: #F0EFE4;
  height: 120px;
  line-height:25px; /* Height / no. of lines to display */
  overflow:hidden;
  border-radius: 5px;
}

.search-job-result p{
  margin-bottom: 30px;
}

.leftSide{
  display: block;
  background-color: #F0EFE4;
  height: 635px;
  overflow: scroll;
}


.rightSide{
  display: block;
  background-color: none;
  height: 635px;
  overflow: scroll;
}

#btn-post-job {
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  color: #2291D1;
  border: 2px solid #2291D1;
  margin-bottom: 20px;


}

#btn-post-job:hover{
  background-color: #2291D1;
  color: #fff;
  border-radius: 5px;
}


#btn-submit-job{
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  color: #DEAE2A;
  border: 2px solid #DEAE2A;
  margin-bottom: 50px;

}

#btn-submit-job:hover{
  background-color: #DEAE2A;
  color: #fff;
  border-radius: 5px;

}
